# Slack
SLACK_BOT_TOKEN=seu_token_do_bot_aqui
CHANNEL_ID=id_do_canal_slack

# Database
DATABASE_URL=url_da_sua_database

# Home Tab Banner
HOME_BANNER_URL=url_da_imagem_do_banner





































                       ######
                      #      #
                     #        #
                    #          #
                   #            #
                  #              #             
                 #    M       M   #                
                ####################              
            ############################          
          ################################        
        ####################################      
      ####MAN###########TLE####################    
    ##########################################TH  
    ############################################  
  ##############################################kk
  ############      ############      ############
  ##########;;      ##########;;      ############
  ############      ############      ####EGE#####
  ################################################
  ################################################
  ##############NT################################
  ##################################mm############
  ##########    mm################      ##########
  ##########      --############      ::########::
    ##########          MMMM          ##########  
    ############--                mm##########::  
      ##############++        MM##############    
        ####################################      
          ################################        
             ########################::          
                 ################::             
                        #
                        #
                        #
                        #
                        #
                        #
                        #
                        #
                        # 
                         # 
                           # 
                              #
                                 #
                                     #
                                        #  
                                             # 
                                                    #
                                     